@import "footer-style.css";
@import "header-style.css";
@import "dark-mode.css";


.text-content {
  width: 45%; /* Adjust the width as needed */
  color: #333;
  
  padding-right: 50px; /* Adjusted padding to the left */
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #555;
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

.text-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #555; /* Darken text color */
  
}

.cta-container {
  margin-top: 20px;
}



.image-wrapper {
  width: 45%; /* Adjust the width as needed semething for the text */
  overflow: hidden;
  justify-content: flex-end;
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.donation-image {
  width: 100%;
  height: auto;
  margin-left: 50px;
 
}

.donation-conditions-section {
  margin-top: 20px;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.section-header h2 img {
  width: 32px; /* Set the width of your custom header icon */
  height: 32px; /* Set the height of your custom header icon */
  margin-right: 10px;
  background-color: #f8f8f8; /* Icon background color */
  border-radius: 50%;
  padding: 5px;
  color: #555;
}

.condition-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.condition-box {
  background-color: #f8f8f8; /* Box background color */
  border: 1px solid #ddd; /* Border color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust the maximum width as needed */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.condition-box:hover {
  opacity: 0.8; /* Increase opacity on hover */
  background-color: #f3f0f0;
  /*background-color: #f1f1f1;*/
}


.icon-box {
  background-color: #f8f8f8; /* Icon background color */
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 15px;
}

.icon-box img {
  width: 27px; /* Set the width of your custom icon */
  height: 27px; /* Set the height of your custom icon */
}

.condition-info {
  text-align: center;
}

.condition-info h3 {
  margin: 0;
  color: #555;
}

.condition-info p {
  margin: 0;
}

/* Add any additional styling as needed */

/* Style for the last paragraph (excluding the link) */
.donation-conditions-section p:not(:last-child) {
  margin-top: 10px;
  font-size: 16px;
  color: #555555; /* Dark gray text color */
   padding-left: 60px;
  
}

/* Style for the "Leave a Comment" link */
.donation-conditions-section p a {
  color: #007bff; /* Blue color for the link */
  text-decoration: none; /* Remove underlines */
  font-weight: bold; /* Bold text */
  cursor: pointer;
}

.donation-conditions-section p a:hover {
  text-decoration: underline; /* Underline on hover */
}



/* Map container styles */


