@import "footer-style.css";
@import "header-style.css";

/* Dark mode styles */

body.dark-mode {
  background-color: #333;
  color: #f8f8f8; /* Light text color for dark background */
  cursor: default;
}

.dark-mode input
{

 background-color: #ddd;
}

.dark-mode .text-content p {
 
  color: #f8f8f8;
  
}
.dark-mode .text-content h1
{
  color: #ED4557;
 
}



.dark-mode .top-nav,
.dark-mode .top-nav a,
.dark-mode .language-btn,
.dark-mode .language-dropdown a {
  color: #f8f8f8; /* Light text color for dark mode */
}

.dark-mode .top-nav a:hover {
  color: #ddd;
}

.dark-mode .language-btn {
  background-color: #333;
  color: #f8f8f8; /* Light text color for dark mode */
}

.dark-mode .language-dropdown {
  background-color: #555;
}

.dark-mode .language-dropdown a:hover {
  background-color: #534b4b;
  color: #f8f8f8; /* Light text color for dark mode */
}

.dark-mode .header-container {
  background-color: #555;
}

.dark-mode .header-btn {
  background-color: #555;
  color: #f8f8f8;
}



.dark-mode .dropdown-content {
  background-color: #494545; /* Background color for dark mode */
}

.dark-mode .dropdown-content a {
  color: #f8f8f8; /* Text color for dark mode */
}

.dark-mode .dropdown-content a:hover {
  background-color: black;
}

.dark-mode .blood-donation-section {
  background-color: #333;
}




.dark-mode .section-header h2 {
 
  color:  #f8f8f8;
}


.dark-mode h2 img {

  background-color: #555; /* Icon background color */
  color: black;
}

.dark-mode .condition-box {
  background-color: #555; /* Box background color */
  border: 1px solid black; /* Border color */
 
   color: black;
}
.dark-mode .condition-box:hover  {

  background-color: #f3f0f0;
  color: black;
  /*background-color: #f1f1f1;*/
}



.dark-mode .icon-box {
  background-color:#555;
} /* Icon background color */


.dark-mode .condition-info p{
  color: #080808;
}
.dark-mode .p{
  color: #f8f8f8;
}


.dark-mode .condition-info h3 {

  color:  black
}
.dark-mode .donation-conditions-section .section-header p {

  color: #f8f8f8;

}
.dark-mode .indicator-icon {
  background-color: #f8f8f8;
}

.dark-mode .how-to-help-content
{
  background-color: #555;
} 
.dark-mode .how-to-help-content h1 {
  color: black;
}
.dark-mode .how-to-help-content p {

  color: #f8f8f8;

}
.dark-mode .help-options h2 {

  color: black;

}
.dark-mode .help-options p {

  color: #f8f8f8;

}
.dark-mode .cta-link {
 
  color: #080808;
  background-color: #d1b5b5;
  
  box-shadow: 0px 8px 16px 0px rgba(178, 172, 172, 0.2);
 
}


