/* Styles for the blood drive list section */
.blood-drive-list {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
margin-top: 40px;
}
.content-containerr
{
  text-align: center;
}
.blood-drive {
  max-width: 400px;
  background-color: #f8f8f8;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.blood-drive:hover {
  transform: translateY(-5px);
}

.blood-drive h2 {
  color: #333;
  margin-bottom: 10px;
}

.blood-drive p {
  color: #555;
  margin-bottom: 15px;
}

.blood-drive a {
  color: #d1b5b5;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.blood-drive a:hover {
  text-decoration: underline;
}

/* Styles for the search form */.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
/* Styles for the search form */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
.search-form label {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

/* Input styles */
#location {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button styles */
button[type="submit"] {
  background-color: #d1b5b5;
  color: #080808;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

/* Icon styles */
button[type="submit"]::before {

  font-size: 1.2em;
  margin-right: 5px;
}

button[type="submit"]:hover {
  background-color: #f1f1f1;
  font-style: oblique;
}
