@import "dark-mode.css";
@import "light-mode.css";
.top-nav {
  text-align: right;
  font-size: medium;
  height: 30px;
  margin-top: 10px;
  
}

.top-nav a,
.language-btn,
.language-dropdown a {
  cursor: pointer;
  text-decoration: none;
  color: #555;
  margin-left: 5px;
  margin-right: 5px;
  font-family: inherit; /* Inherits the font from the parent (.top-nav) */
}

.top-nav a:hover {
  text-decoration: underline;
  color: #333;
}

/* Styles for the language button */
.language-btn {
  background-color: #f9f9f9;
  border: none;
  font-size: medium;
  margin-left: 5px;

}
/* Styles for the language dropdown */
.language-dropdown {
  display: none;
  position: absolute;
  justify-content: center;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
  border-radius: 5px;
}

.language-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #555;
  
  
}

.language-dropdown a:hover {
  background-color: #ddd;
  color: #333;
  margin: 0;
  
}

/* Show the dropdown on hover */
.language-btn:hover + .language-dropdown,
.language-dropdown:hover {
  display: block;
}
.header-btn 
{
  background-color: #f8f8f8;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between elements */
}

.header-container {
  background-color: #f3f0f0;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.buttons-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.header-btn {
  background-color: #f3f0f0;
  border: none;
  color: #1b1919;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: color 0.3s ease;
}
.about-btn {
 
  color: #fff;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.header-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.blood-donation-section {
  background-color: #f8f8f8;
  padding: 60px 0;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.dark-modee {
  
  margin-left: auto; /* Align to the right */
}

.darkmodeimage {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.darkmodeimage:hover {
  opacity: 0.8; /* Adjust the opacity on hover if desired */
}
