/* Import external stylesheets */
@import "footer-style.css";
@import "header-style.css";
@import "dark-mode.css";
@import "howtohelp.css";
@import "howtodonate.css";
@import "contactus.css";
@import "findablooddrive.css";
@import "newsandevent.css";

/* Body styles */
body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Text content styles */
.text-content {
  width: 45%;
  color: #333;
  padding-right: 50px;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #555;
}

.text-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #555;
}

.cta-container {
  margin-top: 20px;
}

/* Donate link styles */
.donate-link {
  text-decoration: none;
  color: #080808;
  background-color: #d1b5b5;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.donate-link:hover {
  background-color: #f1f1f1;
  font-style: oblique;
}

/* Image wrapper styles */
.image-wrapper {
  width: 45%;
  overflow: hidden;
  justify-content: flex-end;
}

.donation-image {
  width: 100%;
  height: auto;
  margin-left: 50px;
}

/* Donation conditions section styles */
.donation-conditions-section {
  margin-top: 20px;
}

/* Section header styles */
.section-header {
  text-align: center;
}

.section-header h2 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

.section-header h2 img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-color: #f8f8f8;
  border-radius: 50%;
  padding: 5px;
  color: #555;
}

/* Condition list styles */
.condition-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

/* Condition box styles */
.condition-box {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  transition: opacity 0.3s ease;
}

.condition-box:hover {
  opacity: 0.8;
  background-color: #f3f0f0;
  transition: background-color 0.3s ease;
}

/* Icon box styles */
.icon-box {
  background-color: #f8f8f8;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
}

.icon-box img {
  width: 35px;
  height: 35px;
}

/* Condition info styles */
.condition-info {
  text-align: center;
}

.condition-info h3 {
  margin: 0;
  color: #555;
}

.condition-info p {
  margin: 0;
}

/* Paragraph styles */
.donation-conditions-section p {
  font-size: 16px;
  color: #555555;
  text-align: center;
}

/* Leave a Comment link styles */
.donation-conditions-section p a {
  color: rgb(158, 68, 68);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.donation-conditions-section p a:hover {
  text-decoration: underline;
}

/* Container navigation styles */
.condition-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Handle styles */
.handle {
  cursor: pointer;
  outline: none;
  position: relative;
}

/* Indicator icon styles */
.indicator-icon {
  width: 20px;
  height: 20px;
  transition: color 0.3s, transform 0.3s;
}

/* Previous button styles */
.handlePrevious {
  margin-right: 10px;
}

/* Next button styles */
.handleNext {
  margin-left: 10px;
}

/* Change color and move on hover */
.handle:hover .indicator-icon {
  transform: translateX(5px);
}
