/* Import external stylesheets */
@import "footer-style.css";
@import "dark-mode.css";
@import "howtohelp.css";
@import "howtodonate.css";
@import "contactus.css";
@import "newsandevent.css";
@import "find_blood.css";

/* Body styles */
:root {
  --body-background-color: #f8f8f8;
   --red : #ED4557;
    --gray : #333;
    --gray2 : #555;
  --body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--body-background-color);
  margin: 0;
  font-family: var(--body-font-family);
}

.blood-donation-section {
  padding: 0;
  background: url('../image/canvaV2.svg') no-repeat center;
  background-size: 80px;
  background-size: cover;
  margin-bottom: 10px;
}

/* Text content styles */
.text-content {
  width: 45%;
  color:var(--gray);
  padding-right: 50px;
}

.text-content h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: var(--red);
  text-align: justify;
}

.text-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: justify;
  color:var(--gray2);
}

.cta-container {
  margin-top: 10px;
}

/* Donate link styles */
.donate-link {
    width: 100%;
    padding: 10px;
    background-color: var(--red);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 100px;

}

.donate-link:hover {
  background-color: #f1f1f1;
  transform: scale(1.04);
  font-style: oblique;
  color: black;
}

.blood-request-section {
  padding: 40px 0;
  text-align: justify;
  color: var(--body-background-color);
}

.request-content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.request-text-content {
  width: 30%;
  background-color: var(--red);
  padding: 40px;
  border-radius: 8px;
  margin-right: 100px;
  height: auto;
}

.request-image {
  width: 35%;
  margin-left: 60px;
}

.request-image img {
  width: 100%;
  border-radius: 8px;
}

/* Why Donate Blood Section */
.why-donate-section {
  padding: 40px 0;
}

#whyimage {
  max-width: 25%;
  height: auto;
  display: block;
  margin-top: 0;
  margin: auto;
  margin-top: -220px;
  margin-bottom: -80px;
}

.why-content-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.reason-box {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--red);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  margin-right: 20px;
  height: 250px;
  width: 150px;
}

.reason-box:hover {
  transform: scale(1.05);
}

.icon-box2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.icon-box2 img {
  width: 50px;
}

.reason-info p {
  margin-top: 30px;
  color: var(--body-background-color);
  font-size: 1em;
  line-height: 1.4;
}

/* Image and Statistics Section */
.image-and-statistics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  flex: 1;
  max-width: 40%;
  padding-bottom: 100px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

/* Statistics Section */
.statistics-section {
  padding: 40px 0;
  text-align: center;
}

.statistics-title {
  margin-right: 90px;
  color: var(--red);
  font-size: 2em;
  margin-bottom: 20px;
  align-items: center;
}

.statistics-container {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 600px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.statistic-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 200px;
  padding: 20px;
}

.statistic-box:hover {
  transform: scale(1.05);
}

.icon-box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-box3 img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.statistic-number {
  color: var(--gray2);
  font-size: 1.5em;
  margin-top: 10px;
  margin-right: 10px;
}

.statistic-description {
  color: var(--gray);
  font-size: 1em;
  margin-top: 5px;
}

.dark-mode .statistic-number,
.dark-mode .statistic-description {
  color: var(--body-background-color);
}

/* New styles for tooltip */
